/* div.create-custom-wod-table {
    padding-top: 20px;
} */

.tableCustomWod {
    margin: auto;
    /* margin-bottom: 20px; */
    /* margin-bottom: 22vmax; */
    /* width: 400px; */
    width: 25vmax;
    /* margin-bottom: 20px; */
    margin-bottom: 1.5vmax;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    background-color: rgb(55,55,55);
    cursor: pointer;
}

.saveCustomWodButton {
    cursor: pointer;
    margin-left: 1.5vmax;
    font-size: 0.9vmax;
    height: 2vmax;
}

.select-exercise-esp {
    font-size: 0.9vmax;
}


.nameAndSave {
    display: inline-flex;
}

.CustomWodh2 {
    font-size: 2vmax;
    padding-bottom: 0.5vmax;
}


.titles-CCWC {
    /* height: 35px; */
    height: 1.8vmax;
    background-color: rgb(150, 30, 30);
    font-size: 1vmax;
}

.buttonDeleteEx {
    padding: 0;
    width: 1.7vmax;
    height: 1.5vmax;
}

.tableCustomRows:hover {
    background-color: rgb(33, 33, 33);
}

.exerciseHeader {
    /* width: 260px; */
    width: 18vmax;
}

/* .buttonUpAndDown {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .buttonMoveUp, .buttonMoveDown {
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.buttonMoveUp:hover, .buttonMoveDown:hover {
    background-color: transparent;
}

.icon {
    margin: auto;
    padding-left: 2px;
} */
