/* div.create-custom-wod-table {
    padding-top: 20px;
} */

.tableCustomWod {
    margin: auto;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    width: 400px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    background-color: rgb(55,55,55);
    cursor: pointer;
}

.buton {
    cursor: pointer;
}

thead.titles-CCWC {
    height: 35px;
    background-color: rgb(150, 30, 30);
}

.buttonDeleteEx {
    padding: 0;
    width: 30px;
    height: 30px;
}

.tableCustomRows:hover {
    background-color: rgb(33, 33, 33);
}

.tableCustomRows {
    border-bottom: 1px solid rgb(71, 71, 71);
}

.exerciseHeader {
    width: 260px;

}