.popup-content {
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    background-color: rgb(55,55,55);
}

.popup {
    padding-top: 5vmax;
    margin: auto;
    width: 30vmax;
}

.selectMultipleExText{
    margin: 0;
    font-size: 0.8vmax;
}

.background {
    position: absolute;
    width: 100%;
    /* min-height: 100svh; */
    height: 100vh;
    top: 0px;
    background-color: rgba(55, 55, 55, 0.77);
}


.title-esp {
    background-color: rgb(150, 30, 30);
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 1.6vmax;
}

.searchBar {
    background-color: rgba(55, 55, 55, 0.77);
    border: 2px solid rgb(150, 30, 30);
    outline: none;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    margin-bottom: 8px;
    color: white;
    height: 1.5vmax;
    font-size: 0.8vmax;
    width: 15vmax;
}

.select-exercise-esp {
    margin-bottom: 20px;
}


.list-exercises {
    list-style: none;
    padding: 0;
    padding-bottom: 5px;
}

li.exercises:hover {
    background-color: rgb(150, 30, 30);
    cursor: pointer;
}


.exercises:nth-of-type(2n+1) {
    background-color: rgb(66, 66, 66);
}

.exercises {
    font-size: 0.9vmax;
}

.closePopup {
    font-size: 0.9vmax;
}