nav.navbar.navbar-expand{
    padding: 0;
}

.navbarBrand {
    color: white;
    font-weight: bold;
    font-size: 2.2vmax;
    text-decoration: none;
}

.navbarBrand:hover {
    background-image: 
        linear-gradient(130deg, #ff006a, #9f00fc);
    background-clip: text;
    color: transparent;
    transition: 500ms;
    background-position: 0 100%;
}

a.nav-link-header {
    color: white;
    font-size: 1.25vmax;
    padding: 0.4vmax;
    text-decoration: none ;   

    display: flex;
    justify-content: center;
    align-items: center;
}

a.nav-link-header:hover {
    color: white;
    background-color: rgb(71,71,71);
    border-radius: 5%;
}

a.nav-link-log {
    margin: auto;
    color: white;
    font-size: 1.7vmax;
    text-decoration: none ;
    font-weight: bold;
}

a.nav-link-log:hover {
    color: rgb(153, 27, 27);
    background-image: 
        linear-gradient(130deg, #ff006a, #9f00fc);
    background-clip: text;
    color: transparent;
    transition: 500ms;
}


.collapse.navbar-collapse {
    transform: translate(0%, 10%);
    padding-left: 2vmax;
}

.headerRandomizer {
    padding-bottom: 0.3vmax;
    box-shadow: 0 0 20px rgba(21, 10, 18, 0.55);
    margin-bottom: 1.5vmax;
    width: 100vmax;
}

.headerContainer {
    padding-left: 8vmax;
    padding-right: 8vmax;
}