nav.navbar.navbar-expand{
    padding: 0;
}

a.navbar-brand {
    color: white;
    /* position: fixed; */
    left: 0%;
    bottom: 0px;
    /* transform: translate(0%, -9%); */
    font-weight: bold;
    font-size: 250%;
}

a.navbar-brand:hover {
    color: rgb(153, 27, 27);

}

a.nav-link {
    color: white;
    font-size: 150%;
}


a.nav-link:hover {
    color: rgb(153, 27, 27);
}

.nav-items {
    transform: translate(0%, 10%);
    font-size: 125%;
}

.collapse.navbar-collapse {
        transform: translate(0%, 10%);
}