nav.navbar.navbar-expand{
    padding: 0;
}

a.navbar-brand {
    color: white;
    left: 0%;
    bottom: 0px;
    font-weight: bold;
    font-size: 250%;
    /* transform: translate(0%, -9%); */
    /* position: fixed; */
}

a.navbar-brand:hover {
    color: rgb(153, 27, 27);
}

a.nav-link-header {
    color: white;
    font-size: 150%;
    padding: 10px;
    text-decoration: none ;
}

a.nav-link-header:hover {
    color: rgb(153, 27, 27);
}

a.nav-link-log {
    color: white;
    font-size: 200%;
    /* padding: 10px; */
    text-decoration: none ;
}

a.nav-link-log:hover {
    color: rgb(153, 27, 27);
}


.collapse.navbar-collapse {
    transform: translate(0%, 10%);
}

.headerRandomizer {
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}