th.ExercisesTitle {
    width: 900px;
}

th.TypeTitle {
    width: 1500px;
}

th.UpdateTitle {
    width: 100px;
}

th.DeleteTitle {
    width: 100px;
}

/* table {
    background-color: blue;
    width: 50px;
    position: inherit;
} */

.lista-ejercicios {
    width: 1200px;
    padding-left: 100px;
    
}

button.button-delete {
    padding-left: 10px;
    padding-right: 10px;
}

button.button-success {
    color: white;
    border: 2px solid rgb(29, 168, 122);
    border-radius: 0px;
    background: #2c2c2c;
}

button.button-success:hover {
    color: whitesmoke;
    background-color: rgb(29, 168, 122);
    transition: all 0.3s;
}