.loginMenu {
  /* background-color: blue; */
  width: 70vmax;
  margin: auto;
  display: flex;
  /* padding-left: 14vmax;
  padding-right: 14vmax; */
  /* height: 800px; */
  column-gap: 2vmax;
}

.login {
  /* width: 45%; */
  width: 31vmax;
  float: right;
  /* padding: 20px; */
  /* padding-top: 6%; */
  padding-top: 4vmax;
  /* border: 2px solid blue;  */
  /* height: 600px; */
  /* height: 2vmax; */
  display: inline-block;
}



.legacyWods {
  display: inline-block;
  /* padding-top: 50px; */
  padding-top: 3vmax;
  padding-left: 0;
  /* width: 45%; */
  width: 33vmax;
  /* background-color: blue; */
  /* padding: 20px; */
  /* padding-top: 40px; */
  /* width: 55%; */
  /* float: left; */
  /* border: 2px solid red; */
  /* height: 600px; */
}

.loginCard {
  background-color: rgb(49, 48, 48);
  border: 2px solid rgb(153, 27, 27);
  margin: auto;
  padding: 2vmax;
  /* width: 80%; */
  width: 25vmax;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.legacyWodsList {
  display: inline;
}

.legacyWodsListName {
  padding: 0.8vmax 0vmax 0.6vmax;
  font-weight: bold;
  font-size: 1.1vmax;
  margin: auto;
}

.legacyWodsButton {
  /* margin-top: 20px; */
  margin-top: 1vmax;
}

.lWLDescription {
  padding-top: 1.2vmax;
  font-size: 0.9vmax;
  font-weight: bold;
}

tr.legacyWodSingleRow:nth-of-type(2n) {
  background-color: transparent;
}