select.form-selection {
    margin: auto;
    background-color: #2c2c2c;;
    /* background-color: rgb(16, 16, 16); */
    width: 500px;
    height: 40px;
    color: white;
    border: 2px solid rgb(153, 27, 27);
    box-shadow: none;
    text-indent: 5px;  
}

select.form-selection:focus {
    outline: none;
}

div.wodList {
    height: 50px;
}

.selectedExTitle {
    width: 280px;
    height: 35px;
}

.tableSavedWods {
    width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.savedWodsTableRows {
    /* border-bottom: 1px solid rgb(71, 71, 71); */
    height: 30px;
}

.savedWodsTableRows:hover {
    background-color: rgb(33, 33, 33);
}

.savedWodsTableHeader {
    background-color: rgb(150, 30, 30);
}

.selected-wod {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 500px;
    margin: auto;
}

.buttonUpdateWod {
    margin-right: 20px;
}