:root {
    --border: rgb(153, 27, 27);
    
    /* --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --g3: rgb(253, 216, 53); */

    --g1: rgb(143, 3, 131);
    --g2: rgb(179, 6, 6);
    --g3: rgb(104, 2, 2);
}

.welcomeMenu {
  display: inline-flex;
  width: 100vmax;
}

.containerCards {
  padding-top: 0.3vmax;
  padding-left: 3vmax;
  width: 70vmax;
}
  
.legacyWodsContainer {
  padding: 1vmax 5vmax 0 2vmax;
  width: 35vmax;
}

.legacyWodsWelcomeButton {
  margin: 1vmax 1vmax 0.5vmax 1vmax;
  padding: 0;
  width: 11vmax;
  height: 2.1vmax;
  font-size: 0.9vmax;
  z-index: 1;
}

.legacyWodsList {
  size: auto;
  z-index: 2;
  position: relative;

}

.legacyWodCard {
  padding-top: 1vmax;
  padding-bottom: 1.5vmax;
  background-color: rgb(49, 48, 48);
  height: auto;
  min-height: 29vmax;
  width: 25vmax;
  border: 2px solid rgb(153, 27, 27);
  border-radius: 2%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 0;
  overflow: hidden;
  position: relative;


  /* background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%, 
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 1vmax 1vmax;
  height: calc(100%);
  padding: 20px;
  position: relative;
  transition: background-position 350ms ease; */
  /* width: calc(100%); */
  /* z-index: 2; */
}

/* 
.legacyWodCard:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 2);
  z-index: 0;
  
}


.legacyWodCard:before {  
  background: linear-gradient(
  130deg, 
  transparent 0% 33%, 
  var(--g1) 66%, 
  var(--g2) 93.5%, 
  var(--g3) 100%
);
background-position: 0% 0%;
background-size: 300% 300%;
content: "";
height: 100%;
left: 0px;
pointer-events: none;
position: absolute;
transition: background-position 350ms ease, transform 350ms ease;
width: 100%;
z-index: 2;
} */


.legacyWodsListTitle {
  padding: 0.8vmax 0vmax 0.8vmax;
  font-weight: bold;
  font-size: 1.1vmax;
  margin: auto;
  z-index: 1;
  /* position: relative; */

}

.legacyWodTitle {
  font-size: 2.3vmax;
  z-index: 2;
  position: relative;

}

.legacyWodRow {
  font-size: 0.9vmax;
  z-index: 1;
  position: relative;

}

.lWWLDescription {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 0.96vmax;
  padding: 1vmax 1vmax 0vmax 1vmax;
  z-index: 2;
  position: relative;

}

.menuCard {
  border: 0.2vmax solid var(--border);
  cursor: pointer;
  position: relative;
  width: 27vmax;
  height: 13vmax;
  margin: 1vmax;
  display: inline-block;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
  overflow: hidden;
  transition: 0.3s;
}

.menuCard:hover {
  transform: translate(0, -5px);
}
  
.menuCard:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 5);
}

.menuCard:hover > .menuCard-content {
  background-position: -10% 0%;
}


.menuCard:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    var(--g1) 66%, 
    var(--g2) 93.5%, 
    var(--g3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 1;
}

.menuCard-content {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%, 
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 1vmax 1vmax;
  height: calc(100%);
  padding: 20px;
  position: relative;
  transition: background-position 350ms ease;
  width: calc(100%);
  z-index: 2;
}
  
.menuCard-title,
.menuCard-subtitle {
text-align: left;
color: white;
/* font-family: "Anek Latin", sans-serif; */
/* font-weight: 400; */
margin: 0px;
}
  
.menuCard-title {
/* font-size: 2vmax; */
font-size: 1.8vmax;
}
  
.menuCard-subtitle {
font-size: 0.8vmax;
margin-top: 1vmin;

}
  
.menuCard-subtitle{
    opacity: 0;
    transform: translateY(40%);
}

.menuCard:hover .menuCard-subtitle {
    opacity: 1;
    transform: translateY(0%);
    transition: transform 300ms linear;
}


.legacyWodSingleRow {
  list-style-type: none;
}