.buttonGenerate {
    margin-left: 2vmax;
    outline: none;
    cursor: pointer;
    height: 2.1vmax;
    width: 9.5vmax;
    font-size: 0.8vmax;
}


input.form-control {
    background-color: #2c2c2c;;
    color: white;
    border: 2px solid rgb(153, 27, 27);
    border-radius: 0;
    width: 2.5vmax;
    height: 2vmax;
    box-shadow: none;
    font-size: 0.8vmax;
    /* text-indent: -2px; */
}

input.form-control:focus {
    background-color: #2c2c2c;;
    color: white;
    border: 2px solid rgb(153, 27, 27);    
    box-shadow: none;
    /* width: 2.5vmax; */
    /* height: 2.5vmax; */
}


input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    color: #2c2c2c;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-group {
    /* display: inline-flex; */
}

.exAmounts{
    display: inline-flex; 
    align-items: center;
    /* width: 30vmax; */
}

.tableExercises {
    margin: auto;
    width: 27vmax;
    margin-bottom: 1vmax;
    margin-top: 0.5vmax;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    background-color: rgb(55,55,55);
    border-collapse: collapse;
}

.rowTableExercise:hover {
    background-color: rgb(33, 33, 33);
}

.rowTableExercise {
    height: 1.6vmax;
}

.containerTableExercises {
    margin: auto;
}

.thExerciseWFGC {
    width: 15vmax;
    height: 1.8vmax;
    font-size: 1vmax;
}

.thSecondaryWFGC {
    font-size: 1vmax;
}

.exerciseTitle {
    background-color: rgb(150, 30, 30);
}

.alertaMuchosEjercicios {
    padding: 0.6vmax 0vmax 1.8vmax 0vmax;
    margin: auto;
    margin-top: 1vmax;
    background-color: rgb(150, 30, 30);
    border-radius: 0.4vmax;
    border: 2px red;
    width: 27vmax;
    height: 2vmax;
}

.wodName {
    background-color: #2c2c2c;;
    color: white;
    border: 2px solid rgb(153, 27, 27);
    border-radius: 0;
    width: 15vmax;
    height: 2vmax;
    outline: none;
    font-size: 0.9vmax;
}

.reRollButton {
    border-radius: 50%;
    height: 1.5vmax;
    width: 1.5vmax;
    padding: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 1.5vmax;
    align-items: center;
    justify-content: center;
}

/* .reRollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    background: none;
    border: none;
  }
  
  .icon {
    width: 100%;
    height: 100%;
  } */