<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
</head>
<body>
    <div style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; color: #0b0c0c">
        <!-- Your email template content here -->
        <p>Hola {{name}}, </p>
        <p>Gracias por registrate a CustomWods. Por favor confirmá tu cuenta haciendo click en el siguiente link:</p>
        <blockquote style="border-left: 10px solid #b1b4b6; padding: 15px 0 0.1px 15px; font-size: 19px; line-height: 15px">
            <p><a href="{{link}}">Activar ahora</a></p>
        </blockquote>
        <p>Este mail expirará en 15 minutos.</p>
        <p>Nos vemos pronto!</p>
        <p>CustomWods</p>
    </div>
</body>
</html> 